html,body{
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.nav{
    width: 100%;
    /* margin: 0 auto; */
    height: 44px;
    background-color: #000;
}
.nav-center{
    margin: 0 auto;
    max-width: 1200px;
    /* text-align: justify;
    text-justify: distribute-all-lines; */
}
.logo a{
    display: block;
    width: 122px;
    height: 44px;
    background: url(../images/pic.png) no-repeat;
    background-position: 5px 7px;
    background-size: 400px 400px;
    box-sizing: border-box;
}
.nav-center li{
    float: left;
    /* text-align: justify; */
    line-height: 44px;
}
.nav-center li a{
    color: #fff;
    /* color: #333; */
    font-size: 14px;
}
.nav-center-top{
    margin-left: 115px;
}
.nav-top-sec{
    width: 16px;
    height: 44px;
}
.nav-sec{
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/pic.png) no-repeat;
    background-position: -210px 10px;
    background-size: 400px 400px;
}
.nav-top-pop{
    width: 20px;
    height: 44px;
}
.nav-pop{
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/pic.png) no-repeat -165px 8px;
    background-size: 400px 400px;
}
/* banner */
.banner{
    width: 100%;
    height: 600px;
    background: url(../images/banner-01.jpg) no-repeat;
    background-position: 50% 0;
    background-size: cover;
    position: relative;
}
.banner-text{
    width: 454px;
    height: 195px;
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
}
.banner-text-bgc{
    width: 454px;
    height: 152px;
    background: url(../images/banner-02.png) no-repeat center;
    background-size: contain;
}
.banner-text-text{
    margin-top: 20px;
    font-weight: 300;
    font-size: 20px;
}
.banner-text-text a{
    color: #e91e63;
}
.banner-text-text span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top:1px solid #e91e63;
    border-right:1px solid #e91e63;
    transform: rotate(45deg)
}
.banner-text-text:hover a{
    font-weight: 400;
}
/* pro */
.pro-item{
    /* width: 100%; */
    margin-right:-4px;
    overflow: hidden;
}
.pro-item li{
    float: left;
    width: 25%;
    padding: 4px 4px 4px 0;
    box-sizing: border-box;
    position: relative;
}
.pro-item li a{
    display: block;
    width: 100%;
    overflow: hidden;  
}
.pro-item li img{
    width: 100%;
    transform: scale(1);
    transition: all 1s ease;
}
.pro-item li:hover img{
    transform: scale(1.1); 
}
.pro-item-text{
    width: 100%;
    position: absolute;
    top:25px ;
    left: 0px;
}
.pro-item-text h5{
    font-size: 12px;
    text-align: center;
    color: #fbe7b2;
    font-weight: normal;
}
.pro-item-text p{
    font-size: 16px;
    margin-top: 5px;
    color: #fbe7b2;
    text-align: center;
}
.pro-item-text-three h5,.pro-item-text-three p{
    color: #000;
}
/* footer */
.footer{
    background-color: #f4f4f4;
    padding-top: 40px;
}
.footer-center{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.footer-center-left{
    width: 100%;
    float: left;
    padding-right: 250px;
    box-sizing: border-box;
}
.footer-center dl{
    float: left;
    width: 20%;
    color: #333;
}
.footer-center dl dt{
    font-size: 12px;
    margin-bottom: 16px;
}
.footer-center dl dd{
    font-size: 12px;
    margin-bottom: 16px;   
}
.footer-center dl a{
    color: #555;
}
.footer-center-left a:hover{
    color: #e62878;
    text-decoration: underline;
}
.footer-center-right{
    position: absolute;
    right: 0;
    top: 0;
}
.footer-center-right h5 span{
    font-size: 12px;
    color: #333;
}
.footer-center-right h5 i{
    display: inline-block;
    margin-left: 15px;
    color: #555;
    font-style: normal;
}
.footer-center-right p{
    font-size: 26px;
    font-weight: 300;
    margin: 24px 0;
    color: #333;
}
.footer-center-right a{
    font-size: 12px;
    color: #333;
}
.footer-center-right a:hover{
    color: #e62878;
    text-decoration: underline;
}






/* 响应式 */
@media screen and (max-width:768px){
    /* nav */
    .nav-center{
        width: 100%;
        position: relative;
    }
    .nav-center .logo{
        display:inline-block;
        width: 100%;
    }
    .logo a{
        display: block;
        margin: 0 auto;
    }
    .nav-center li{
        display: none;
    }
    .nav-center .nav-top-pop{
        display: block;
        position: absolute;
        top: 0;
        right: 15px;
    }
    /* banner */
    .banner{
        height: 824px;
        width: 100%;
        background: url(../images/banner-50%.jpg) no-repeat;
        background-position: 50%;
        background-size: cover;
        position: relative;
    }
    .banner-text{
        position: absolute;
        top: 5%;
        left: 50%;
        /* padding-left: 20px; */
        margin-left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 50%;
        transform: translate(-50%);
        overflow: hidden;
    }
    .banner-text-bgc{
        margin: 0 auto;
        width: 4.54rem;
        height: 1.52rem;
    }
    .banner-text-text{
        margin-top: 20px;
        font-weight: 300;
        font-size: 0.35rem;
        width: 100%;
        text-align: center;
    }
    /* footer */
    .footer-center{
        width: 90%;
        margin: 0 auto;
    }
    .footer-center-left{
        /* width: 90%; */
        
        padding-right: 0;
    }
    .footer-center-left dl{
        width: 100%;
    }
    .footer-center-left dt{
        width: 100%;
        display: block;
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }
    .footer-center-left dd,.footer-center-left a{
        display: none;
    }
    .footer-center-right{
        display: none;
    }

}
@media screen and (max-width:1200px){
    .pro .pro-item li{
        width: 50%; 
    }

}
@media screen and (max-width:475px){
   .pro .pro-item li{
        width: 100%;
    }
}